# Ignore the virtual environment
.venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so
*.pyd

# VSCode or PyCharm config files
.vscode/
.idea/

# dotenv environment files
.env

# OS-specific
.DS_Store
Thumbs.db
